html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #FDFCF7;
    overflow:auto;
}

.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, div, a, .container-fluid, .row, .container, img, form {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }


.navigation {
    background-color: #546757;
    height:100vh;
    width:20%;
    border-radius:0px 0px 200px 0px;
    margin-top:0;
    padding-top:25px;
    float:left;
}


.logo {
    color: white;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 3px;
    /*    margin-top: 25px;*/
    margin-left: 35px;
}

.activeH {
    font-weight: 400;
    opacity: 1;
}

.navigation h3 {
    color:white;
    margin-top:30px;
    font-weight:300;
    font-size:15px;
    margin-left:50px;
    opacity:80%;
}

.line {
    height: 1px;
    width: 80%;
    margin-left: 10%;
    background-color:white;
    margin-top:30px;
    opacity:0.6;
}

.location-picker::-ms-expand {
    display: none;
}

.location-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.location-picker {
    margin-left: 60px;
    margin-top: 25px;
    width: 40%;
    background-color: #C2C6B130;
    padding: 13px;
    border-radius: 10px;
    color: #546757;
    border:none;
}

.sub-nav {
    color: #546757;
    width: auto;
    float: left;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 300;
    margin-top: 40px;
}

h1 {
    color: #2E3D30;
    width: 80%;
    margin-left: 60px;
    margin-top: 40px;
    float: left;
    font-family: 'Antic Didone', serif;
    font-size: 50px;
    line-height: 65px;

}


.seasonal {
    width: 85%;
    height: 240px;
    background-color: #F7F7F1;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 200px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

h3 {
    font-weight: 400;
    color: #546757;
    font-size:15px;
    margin-left:30px;
}

.flower-container {
    width: 120px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}

.flower-img {
    width: 100%;
    height: 115px;
}

.flower-container h4 {
    width: 120px;
    text-align: center;
    font-size: 13px;
    color: #4D593F;
    font-weight: 300;
    margin-top: 10px;
    height: 40px;
    word-wrap: break-word;
}

.weekly {
    width: 80%;
    height: 430px;
    margin-top:70px;
    margin-left:30px;
}

.weeklyHeader {
    margin-top: -140px;
    margin-left: 30px;
    color: #4D593F;
    letter-spacing:2px;
}

.weeklyCat {
    font-weight:300;
    margin-left: 30px;
    color: #4D593F;
    margin-top:8px;
}

.weeklyP {
    width:80%;
    font-weight: 300;
    font-style:italic;
    margin-left: 30px;
    color: #4D593F;
    margin-top: 20px;
    font-size:12px;
}

.create {
    margin-left: 30px;
    background-color: #C2C6B1;
    border-radius: 0px 40px 40px 0px;
    width: 70%;
    color: #2E3D30;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 20px;
    font-size:12px;
    font-weight:500;
}

.subs {
    background-color: #DFE1D5;
    width: 96%;
    margin-left: 30px;
    height: 130px;
    border-radius:100px 0px 0px 100px;
    margin-top:30px;
    padding:32px;
}

    .subs h2 {
        font-size: 50px;
        font-weight: 500;
        color: #4D593F;
        margin-left:10px;
        float:left;
    }

.line2 {
    height: 100%;
    width: 1px;
    background-color: #4D593F;
    margin-left:30px;
    float:left;
}


.subs h4 {
    font-weight:300;
    font-size:15px;
    color: #4D593F;
    margin-left: 30px;
    float: left;
    margin-top:15px;
}
