html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-color: #FDFCF7;
}

.html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, div, a, .container-fluid, .row, .container, img, form {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

/*    //home page*/

.logo {
    color: #2E3D30;
    font-weight:300;
    font-size:15px;
    letter-spacing:3px;

    margin-top:25px;
    margin-left:45px;
}

.title {
    color: #2E3D30;
    width: 30%;
    margin-left: 80px;
    margin-top: 250px;
    float: left;
    font-family: 'Antic Didone', serif;
    font-size:50px;
    line-height:65px;
}

.index-container {
    width:30px;
    height:15vh;
    float:right;
    margin-right:-80px;
    margin-top:40vh;
}

.index-pt {
    width: 10px;
    height: 10px;
    background-color: #546757;
    opacity:60%;
    border-radius:50%;
    margin-top:20px;
    margin-left:2px;
}

.active-index {
    opacity: 1;
    width: 15px;
    height: 15px;
    margin-left: -1px;
}

.join {
    color: #2E3D30;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 700px;
    margin-left: 45px;
    float:right;
}

.block1 {
    margin-left: 9%;
    width: 27.333%;
    height: 48vh;
    background-color: #2E3D30;
    border-radius:0px 230px 0px 0px;
    float:left;
    padding:40px;
    line-height:30px;
    color:white;
    letter-spacing:3px;
}

.block2 {
    width: 27.333%;
    height: 48vh;
    background-color: #2E3D30;
/*    border-radius: 0px 300px 0px 0px;*/
    float: left;
}

.block3 {
    width: 27.333%;
    height: 48vh;
    background-color: #C2C6B1;
    border-radius: 0px 0px 0px 230px;
    float: left;
    padding: 40px;
    line-height: 30px;
    color: white;
    text-align: right;
    letter-spacing: 3px;
}

.block4 {
    width: 27.333%;
    height: 48vh;
    background-color: #C2C6B1;
    border-radius: 50%;
    float: left;
}

.block5 {
    margin-left: 9%;
    width: 54.6666%;
    height: 48vh;
    background-color: #C2C6B1;
    border-radius: 0px 250px 0px 230px;
    float: left;
}

.block6 {
    width: 27.333%;
    height: 96vh;
    background-color: #C2C6B1;
    border-radius: 300px;
    float: left;
    margin-top:-48vh;
}

.button-visit {
    margin-left: 9%;
    width: 300px;
    height: 25px;
    padding: 7px;
    background-color: #C2C6B1;
    color: #2E3D30;
    border-radius: 0px 20px 20px 0px;
    margin-top:900px;
    font-size:15px;
    letter-spacing:2px;
}

.navigation {
    background-color: #546757;
}

.nav-link {
    float: right;
    margin-top: -25px;
    margin-right: 40px;
    color: #546757;
}

.test-block {
    width 100%;
    height: 85vh;
    border-radius: 0px 0px 200px 200px;
    background-color: #FDFCF7;
    z-index:0;
    position:relative;
}

.test-block2 {
    width 100%;
    height: 90vh;
    border-radius: 0px 0px 200px 200px;
    background-color: #546757;
    margin-top: -200px;
    z-index: -1;
    position: relative;
    padding-top:300px;
}

    .test-block2 h1 {
        color: white;
        margin-left: 150px;
        float: left;
        font-family: 'Antic Didone', serif;
        font-size: 50px;
    }

    .test-block2 h4 {
        color: white;
        margin-left: 150px;
        float: left;
        font-size: 15px;
        letter-spacing:3px;
        width:90%;
        margin-top:20px;

    }

.email-row {
    width:78%;
    margin-left:150px;
    margin-top:50px;
}

.email {
    margin-top:60px;
    width:80%;
    background-color: #546757;
    border:none;
    border-bottom: 1px solid white;
    padding: 15px;
    color: white;
    float:left;
}

.button {
    margin-top: 59px;
    width: 20%;
    background-color: #546757;
    border: 1px white solid;
    padding: 15px;
    color: white;
    float: left;
    text-align:center;
}

.email::placeholder {
    color: white;
}
    .test-block3 {
    width 100%;
    height: 60vh;
    background-color: #2E3D30;
    margin-top: -200px;
    z-index: -2;
    position: relative;
    padding-top:300px;
}

.meet {
    width: 70%;
    color: #2E3D30;
    font-family: 'Antic Didone', serif;
    font-size: 60px;
    margin-left: 18%;
    margin-top: 50px;
    line-height: 1.3;
    float: left;
}

.visit {
    width: 30%;
    padding: 12px;
    background-color: #C2C6B1;
    border-radius: 0px 40px 40px 0px;
    margin-left: 18%;
    margin-top:330px;
    letter-spacing:3px;
    font-weight:500;
    font-size:15px;
}

.arch2 {
    float: left;
    width: 55%;
    height: 40vh;
    margin-left:20%;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #EDC9B5;
    border-radius: 50%;
    margin-top:280px;
    margin-left:70px;
    position:absolute;
}

.logo2 {
    margin-left: 150px;
    width:20%;
    height:auto;
    float:left;
}

.third {
    width: 20%;
    float:left;
    background-color:red;
}